@import "../../utiles/tema.css";

.boton {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.25em;
  font-weight: 700;
  line-height: 1;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  border: 0;
  background-color: transparent;
  color: var(--color-primario);

  &.destructivo {
    --color-primario: var(--color-error);
    --color-primario-claro: var(--color-error-claro);
    --color-primario-oscuro: var(--color-error-oscuro);
  }

  &.deshabilitado {
    --color-primario: var(--color-texto-deshabilitado);
    cursor: inherit;
    pointer-events: none;
  }

  &.solido {
    background-color: var(--color-primario);
    color: var(--color-blanco);
  }

  &.borde {
    border: 2px solid var(--color-primario);
  }

  &.pequeño {
    padding: 10px 16px;
    font-size: 11px;
  }

  &.mediano {
    padding: 11px 20px;
    font-size: 14px;
  }

  &.grande {
    padding: 12px 24px;
    font-size: 18px;
  }

  &:hover {
    border-color: transparent;
    background-color: var(--color-primario-claro);
    color: var(--color-primario-oscuro);
  }
}
